.allweights-scrollbar::-webkit-scrollbar {
  width: 20px;
  cursor: pointer;

}

/* Track */
.allweights-scrollbar::-webkit-scrollbar-track {
  cursor: pointer;
  background-color: #17212B;
}
/* Handle */
.allweights-scrollbar::-webkit-scrollbar-thumb {
  background: #E95F51; 
  border-radius: 10px;
  cursor: pointer;
}

/* Handle on hover */
.allweights-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #E96D61;
}

.allweights-scrollbar{
  height: 290px;
  overflow-y: auto;
  box-shadow: inset 0 0 10px #000000;

}

.allweights-scrollbar .list-group-item {
  margin: 5px 5px 0px 5px;
}

.allweights-scrollbar .list-group-item:last-child{
  margin-bottom: 5px;
}